@charset "UTF-8";
* {
  font-family: 思源黑體;
}

body {
  height: 1000px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}

header.jumbotron {
  margin-bottom: 0px;
  text-align: center;
  background-image: url(http://img.rika.tw/uploads/20181008032210_10.jpg);
  background-size: cover;
  background-attachment: fixed;
}
header.jumbotron .container {
  color: white;
  padding: 100px 0px;
}
header.jumbotron hr {
  max-width: 300px;
  border: solid 2px #fff;
}
header.jumbotron h4 {
  color: white;
}

section {
  padding: 50px 0px;
}

section#section_ask {
  background-color: #fff;
}
section#section_ask .col-sm-5.img {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXQnkVWNf7VGCXoNQhuF976jDiqScAmUXTa1xA4npu9m4H5L5b);
  height: 400px;
  background-size: cover;
  mix-blend-mode: multiply;
}
section#section_ask h2 {
  margin-top: 130px;
  padding: 0px 145px;
}

section#section_about img {
  width: 100%;
}
section#section_about .img_warp {
  height: 10px;
  overflow: hidden;
}
