nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      a.navbar-brand(href="#") 一蘭拉麵
    .nav.navbar-nav.navbar-right
      li
        a(href="#section_ask") 引言 INTRO
      li
        a(href="#section_about") 關於 ABOUT
      li
        a(href="#section_video") 影片 VIDEO
      li
        a(href="https://zh-cht.ichiran.com/shop/oversea/taiwan/taipei-honten/" target="_blank")  台北本店
header.jumbotron
  .container
    h1 天然豚骨拉麵專門店
    hr
    h4 總店設於福岡，並在海外開設多家店舖
section#section_ask
  .container
    .row
      .col-sm-5.img
      .col-sm-7
        h2 好吃的拉麵在一蘭
section#section_about
  .container
    .row
      .col-sm-12
        h1 關於 About
        hr 
      .col-sm-4
        .img_warp
        img(src="https://upload.wikimedia.org/wikipedia/zh/5/5e/ICHIRAN_Logo.png", alt="")
        h3 一蘭精神
        p  一蘭並沒有花巧的菜單，只專注於「天然豚骨湯拉麵」一款。拉麵分有多種不同口味 — 醬油、鹽味及味噌等，湯底也有雞湯和魚湯等各種組合。一蘭的專業師傅均掌握了各種麵條和湯頭的知識及烹調技術，不管是哪種麵條或是湯頭皆得心應手，但至今的手藝鑽研也只為豚骨湯拉麵，並沒有開發其他菜單的念頭。40位以上的專業師傅團隊，傾注努力及熱情，日夜埋首研究。一蘭永遠研究亦追求世界第一豚骨湯拉麵的美味。
      .col-sm-4
        .img_warp
        img(src="https://upload.wikimedia.org/wikipedia/zh/5/5e/ICHIRAN_Logo.png", alt="")
        h3 天然豚骨湯
        p  專屬製湯師傅經過長年研究，研發能引出豚骨極致美味的方法。在處理及烹調兩個階段中，以高超精湛的技術及獨家製法，把豚骨獨有的腥味完全去除，烹調出沒有豚骨腥味的湯頭。　
      .col-sm-4
        .img_warp
        img(src="https://upload.wikimedia.org/wikipedia/zh/5/5e/ICHIRAN_Logo.png", alt="")
        h3 一蘭特製生麵
        p  經驗豐富的製麵師傅選用優質小麥粉作為原材料，因應天氣及氣溫變化作出調整及生產。細微如小麥的蛋白質含量也會一一檢測，水溫也會因應季節轉變而作出調整。直至煮麵前一刻，製成的麵條會被存放於真空的專用箱中，即使於繁忙時間，也會限制存放於常溫的麵條數量，以確保麵條保持新鮮美味。
section#section_video
    .container
      .row
        .col-sm-12
          h1 一蘭拉麵 / 日本名古屋
          hr
        .col-sm-12
          .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(src="https://www.youtube.com/embed/FSxW9Da7w08", allowfullscreen="")